#sortMenu .panel > .list-group,
#menu .panel > .list-group,
#ressources .panel > .list-group {
	border-top: 1px solid #ddd;
}

.panel > .panel-heading a > span.collapse-arrow {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.panel > .panel-heading a.collapsed > span.collapse-arrow {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.itemBlock {
	display: inline-block;
	border: 1px solid #ddd;
	margin: 2px 0px;
	cursor: pointer;
}

#loading > img {
	display: block;
	margin: 0 auto;
}

#itemsContainer > div:last-child {
	margin-top: 5px;
}

#itemDetails ul.list-group > li.list-group-item:first-child {
	min-height: 100px;
}

#itemDetails ul.list-group > li.list-group-item > img.detailIcon {
	margin-right: 15px;
	margin-top: 8px;
}

#itemDetails ul.list-group > li.list-group-item:last-child {
	margin-bottom: -1px;
}

#itemDetails .panel

nav > .bg-primary {
	color: #fff;
}

#search {
	margin-bottom: 20px;
}

#search .form-group,
#search .form-group input {
	width: 100%;
}

#search #clearSearch {
	cursor: pointer;
}

#tracker ul {
	margin-bottom: -1px;
}

#tracker ul > a {
	min-height: 53px;
}

#tracker ul > a > button {
	visibility: hidden;
	margin-top: -1px;
}

#tracker ul > a:hover > button {
	visibility: visible;
}

#tracker ul > a > img.trackerIcon {
	height: 32px;
	margin-right: 10px;
}

#tracker ul > a > .trackerName {
	margin-top: 6px;
}

#author img {
	width: 100px;
	margin: 0 10px 10px 0;
}