extends ../layouts/default

block content
	.row
		.col.s12
			h4 Guild Wars 2 Wardrobe
			p
				| Welcome to GuildWars2 Wardrobe! This is version 2 of an online tool that will help you guys figure out how to get your dirty, little hands on all the armor and weapon items this game has to offer. It all started back in april 2014 when 
				a(href="http://www.reddit.com/r/Guildwars2/comments/22e0mm/what_kind_of_online_tool_do_you_miss/") I asked Reddit what kind of online tool they would like to see made
				| . I got an overwhelming 5 upvotes and 18 comments! A friendly user named 
				a(href="http://www.reddit.com/user/Moonfishie") /u/Moonfishie 
				|  came up with this great suggestion.
			
			blockquote
				| When the new wardrobe UI comes out, I'd love to go to a site/app that lets me click a slot in the wardrobe to display info on how that skin is obtained.
				br
				footer - /u/Moonfishie
			
			p I thought this was a great idea and quickly started the development. Version 2 of this tool is built on 
				a(href="http://nodejs.com") Node
				| , 
				a(href="http://keystonejs.com") Keystone
				| , 
				a(href="http://mongodb.org") MongoDB
				| , 
				a(href="http://materializecss.com") Materialize CSS
				| , 
				a(href="http://jquery.com") jQuery
				| , 
				a(href="https://github.com/zeroclipboard/zeroclipboard") ZeroClipBoard
				| , and 
				a(href="http://wiki.guildwars2.com/wiki/API:2") Guild Wars 2's official API v2
				| .
			
			h4 Features
			
			h5 View items
			ul.featuresList
				li Using GuildWars2's official API, all unique armor and weapon skins are fetched from the API, stored in a MongoDB database, and displayed in categories.
				li By adding a valid API token, users will be able to see which skins they have unlocked!
			
			h5 See details
			ul.featuresList
				li Each skin has a detail page.
				li If there is a page on the official wiki about the currently selected item, there will a link to that page.
				li If the official wiki page of the currently selected item contains either a recipe or information on how to acquire the item, the according information will be pulled and displayed with the rest of the item details.
				li Thanks to ArenaNet and the people behind the Official Wiki for giving me the opportunity to steal the code they use to generate the ingame link codes.
				li Users are able to copy chat codes for the current skin.
			
			h5 Search for items
			ul.featuresList
				li All skins containing the search phrase will be displayed in a well-mannered fashion.
			
			//h6 Favorites
			//ul.featuresList
				li By clicking "Add to favorites" on the item page, the current skin will be added to favorites.
				li Favorites will allow users to store particular items of interest on a separate page.
				li In order to use Favorites, you need to have a user and to be logged in.
