extends ../layouts/default

block content
	.row
		if user
			.col.s12.m8.l9.collapsible(data-collapsible="")
				each value, key in types
					.section.scrollspy.category-container.active(id= key)
						.collapsible-header
							h4= value
								i.mdi-navigation-expand-less
						.items-container.collapsible-body(style="display: block;")
							each skin in skins
								if ((skin.type == key) && (user.favorites.indexOf(skin.skinid) > -1))
									+item(skin)
									
			.col.hide-on-small-only.m4.l3
				ul.section.table-of-contents
					each value, key in types
						li: a(href="#" + key)= value
						
		else
			p You need to have a user and to be logged in to use the favorite feature.

block js
	script(src="/js/chatcode.js")
	script(src="/js/favorite.js")
	script(src="/js/addToWardrobe.js")