extends ../layouts/default

block content
	.row
		.col.s12
			h3 Search skins
			
			form.col.s12
				.row
					.input-field.col.s6
						i.material-icons.prefix account_circle
						input#search-big(type="text")
						label(for="search-big") Search skins
	.row
		.col.s12.collapsible
			h3 Newest skins
			each skin in skins
				+skin(skin)