extends ../layouts/default

block content
	.row.container#search-big-container
		form.col.s12#searchBigForm(onsubmit="wardrobe.search.init(this)")
			.row
				.input-field.col.s12
					i.mdi-action-search.prefix
					input#search-big(type="text")
					label(for="search-big") Search skins
	.row
		.col.s12.collapsible
			h3 Newest skins
			each skin in skins
				+skin(skin)