extends ../layouts/default

block content
	.row.links-container.negative-margin-top: .col
		a#profile-save.waves-effect.waves-light.btn.green.darken-2
			i.mdi-content-save.left
			| Save changes
		a#profile-discard.waves-effect.waves-light.btn.grey(href="/profile")
			i.mdi-content-clear.left
			| Discard changes
			
	.section: .row: form#edit-profile.col.s12(role="form", method="post", action="./update")
		.row
			.input-field.col.s12
				input#username.validate(type="text", name="username", value= user.username)
				label(for="username") Username
			.input-field.col.s12
				input#email.validate(type="email", name="email", value= user.email)
				label(for="email") Email
			.input-field.col.s12
				input#image.validate(type="text", name="image", value= user.image)
				label(for="image") Profile Image (URL for now...)
			.input-field.col.s12
				input#password.validate(type="password", name="password", disabled)
				label(for="password") New password
			.input-field.col.s12
				input#password2.validate(type="password", name="password2", disabled)
				label(for="password2") Repeat password
			.input-field.col.s12
				textarea#about.materialize-textarea(name="about")= user.about
				label(for="about") About yourself
			.input-field.col.s12
				input#submit.btn.green.darken-2(type="submit", value="Save changes")
				
block js
	script(src="/js/form.js")