extends ../layouts/default

block content
	.row
		.col.s12
			form#registerForm
				.input-field.col.s12
					input#registerUsername(type="text", name="username")
					label(for="registerUsername") Username
				.input-field.col.s12
					input#registerPassword(type="password", name="password")
					label(for="registerPassword") Password
				.input-field.col.s12
					input#registerPassword2(type="password", name="password2")
					label(for="registerPassword2") Repeat password
				.input-field.col.s12
					input#registerAPIToken(type="text", name="apitoken")
					label(for="registerAPIToken") API Token
				.input-field.col
					button.btn.waves-effect.waves-light(type="submit", title="Register") Register