extends ../layouts/default

block content
	.row
		.col.s12.m8.l9.collapsible(data-collapsible="")
			each value, key in weaponTypes
				.section.scrollspy.category-container.active(id= key)
					.collapsible-header
						h4= value
							i.mdi-navigation-expand-less
					.items-container.collapsible-body(style="display: block;")
						each skin in skins
							if (skin.details.type == key)
								+item(skin)
		.col.hide-on-small-only.m4.l3
			ul.section.table-of-contents
				each value, key in weaponTypes
					li: a(href="#" + key)= value