mixin character(character)
	.character
		.waves-effect.waves-light.z-depth-1
			a(href="#")
				.character-image-container
					img(src="http://placehold.it/160x160")
				.character-name-container
					h1= character.name