mixin character(character)
	.character
		.waves-effect.waves-light.z-depth-1
			a
				.character-image-container
					- var image = (character.race + "-" + character.gender).toLowerCase() + ".png";
					img(src="/images/#{image}")
				.character-name-container
					span= character.name