mixin item(item)
	.skin-item(class=(user.wardrobe.indexOf(item.skinid) > -1) ? "owned" : "", data-skinid= item.skinid, class=(user.favorites.indexOf(item.skinid) > -1) ? "favoritted" : "")
		.waves-effect.waves-light.z-depth-1
			a(href='/skin/#{item.skinid}')
				.skin-item-owned
					i.mdi-action-done
					.skin-item-owned-background
				.skin-item-image-container
					img(src= item.icon)
				.skin-item-favoritted
					i.mdi-action-favorite
					.skin-item-favoritted-background
		.skin-item-toolbar
			a.linkFavorite(href="#", class=(user.favorites.indexOf(item.skinid) > -1) ? "favoritted" : "", data-skinid= item.skinid, data-skinname= item.name)
				.favoriteFalse
					i.mdi-action-favorite-outline
				.favoriteTrue
					i.mdi-action-favorite
			a.linkChatCode(href="#", data-id= item.skinid, data-type="item")
				i.mdi-communication-chat
			a.linkAddToWardrobe(href="#", class=(user.wardrobe.indexOf(item.skinid) > -1) ? "owned" : "", data-skinid= item.skinid, data-skinname= item.name)
				.ownedFalse
					i.i.mdi-content-add-circle-outline
				.ownedTrue
					i.i.mdi-content-remove-circle-outline