mixin item(item)
	- var classes = new Array();
	if user
		- if(user.wardrobe.indexOf(item.itemid) > -1) {classes.push("owned")}
		- if(user.favorites.indexOf(item.itemid) > -1) {classes.push("favoritted")}
	
	.skin-item.tooltipped(data-itemid= item.itemid, class=classes, data-position="top", data-tooltip= item.name, data-delay="0")
		.waves-effect.waves-light.z-depth-1
			a(href='/item/#{item.itemid}')
				.skin-item-owned
					i.mdi-action-done
					.skin-item-owned-background
				.skin-item-image-container
					img(src= item.icon)
				.skin-item-favoritted
					i.mdi-action-favorite
					.skin-item-favoritted-background
		.skin-item-toolbar
			a.linkFavorite(href="#", class=(classes.indexOf("favoritted") > -1) ? "favoritted" : "", data-itemid= item.itemid, data-itemname= item.name)
				.favoriteFalse
					i.mdi-action-favorite-outline
				.favoriteTrue
					i.mdi-action-favorite
			a.linkChatCode(href="#", data-itemid= item.itemid, data-type="item", data-itemname= item.name)
				i.mdi-communication-chat