header {
	.nav-wrapper {
		margin-left: 240px;
		
		a.page-title {
			padding-left: 40px;
			font-size: 32px;
		}
	}
	
	
	#slide-out {
		line-height: 42px;
		
		li.logo {
			padding: 0;

			a#logo-container {
				padding: 0;
				line-height: normal;

				img {
					width: 100%;
				}
			}
		}
		li.logo:hover {
			background: none;
		}
		li {
			padding: 0;
			margin: 0;
			
			a {
				padding: 0 15px;
				margin: 0;
			}
			
			.collapsible-body a {
				padding: 0 40px;
			}
		}
		ul.collapsible > li.active {
			background-color: transparent;
		}
	}
}

#body {
	margin-left: 240px;
	padding-left: 20px;
	
	.skinItem {
		margin: 0;
		padding: 0;
		
		.skinItemImageContainer {
			height: 64px;
			width: 64px;
		}
	}
}

