header {
	.nav-wrapper {
		margin-left: 240px;
		
		a.page-title {
			font-size: 32px;
		}
	}
	
	
	#slide-out {
		line-height: 42px;
		
		li.logo {
			padding: 0;

			a#logo-container {
				padding: 0;
				line-height: normal;

				img {
					width: 100%;
				}
			}
		}
		li.logo:hover {
			background: none;
		}
		li {
			padding: 0;
			margin: 0;
			
			a {
				padding: 0 15px;
				margin: 0;
			}
			
			.collapsible-body a {
				padding: 0 40px;
			}
		}
		ul.collapsible > li.active {
			background-color: transparent;
		}
	}
}

#body {
	margin-left: 240px;
	
	.skin-item {
		margin: 0;
		padding: 0;
		
		.skin-item-image-container {
			height: 64px;
			width: 64px;
		}
	}
}

footer.page-footer {
	margin-left: 240px;
	padding-top: 0;
	
	
	
	#footer-content-wrapper {
		overflow: hidden;
	}

	.footer-copyright {
		height: auto !important;
		line-height: inherit !important;
		padding: 15px 0;
		font-size: 12px;

		.footer-logo {
			width: 150px;
		}

		.container > .row {
			margin-bottom: 0;
		}
	}
}

@media #{$small-and-down} {
	
}
@media #{$medium-and-up} {
	
}
@media #{$medium-and-down} {
	header .nav-wrapper,
	#body,
	footer {
		margin-left: 0px;
	}
}
@media #{$large-and-up} {
	
}